@import "tailwindcss";

@theme {
  --color-mastered: #10b981;
  --color-foggy: #475569;
  --color-active: #22d3ee;
  --color-background: #020617;
  --width-sidebar: 384px;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: var(--color-background);
  color: #e2e8f0;
  margin: 0;
}
